
#header {

    font-size: 50px;
    margin-bottom: 10px;
}

body {
    text-align: center;
}
table{
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}
.tab{
    width: 600px;
    height: auto;
    margin: auto;
    border: 1px solid;
    padding: 10px;

}
tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}​
 input {
     height: 20px;
 }
.select {
    margin-bottom: 20px;
    font-size: 15px;
}
.box {
    margin-bottom: 20px;
    width: 370px;
    font-size: 15px;
}

.boxes {
    margin-bottom: 20px;
    height: 200px;
    width: 450px;
    font-size: 15px;
}

textarea {
    height: 100px;
}


h3 {
    padding-bottom: 30px;
    border-bottom: dotted;
}

#btn {
    background-color: #1f5de2;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

#btn:hover {
    cursor: pointer;
    transition: .3s;
}