body {
    text-align: center;
}

table{
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}
.tab{
    width: 600px;
    height: auto;
    margin: auto;
    border: 1px solid;
    padding: 10px;

}
tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}​
 input {
     height: 20px;
 }