footer{
    background-color: #424558;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #CCC;
    margin-top:-50px;

}

footer p {
    padding: 10.5px;
    margin: 0;
    line-height: 100%;
}
a {
    color: #0a93a6;
    text-decoration: none;
    font-size:19px;
}