/*main{*/
    /*position:relative;*/
    /*z-index: -4;*/
/*}*/

h3 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
