
#header {
    font-size: 50px;
    margin-top: 22px;
    color: white;
}

body {
    /*top:80px;*/
    text-align: center;
    background-color: #c7b39b;
    background-image: url("/images/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    /*margin-bottom: 10px;*/
    /*bottom: 10px;*/
    padding: 50px;
}

table {
    width: 700px;
    border-collapse: separate;
    margin: auto;
    padding: 10px;
}

.tab {
    /*width: 700px;*/
    /*height: auto;*/
    /*margin: auto;*/
    border-collapse: separate;
}

p {
    color: white;
}

tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    /*border-collapse: collapse;*/
}

​
input {
    height: 20px;
}

.select {
    margin-bottom: 20px;
    font-size: 15px;
}

.box {
    margin-bottom: 20px;
    width: 370px;
    font-size: 15px;
}

.boxes {
    margin-bottom: 20px;
    height: 200px;
    width: 450px;
    font-size: 15px;
}

h3 {
    padding-bottom: 30px;
    border-bottom: dotted;
}

#btn {
    background-color: #e21f45;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}

#btn:hover {
    cursor: pointer;
    transition: .3s;
}

